root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
line_width = 80
trim_trailing_whitespace = true

[*.html]
indent_style = tab
indent_size = 4

[*.css]
indent_style = tab
indent_size = 4

[lib/**.js]
indent_style = space
indent_size = 4
line_width = 80

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
